@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 27vw;
    padding: 10px;
}

.right{
    width: 73vw;
}

.home ul li{
    width: 16px;
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 12px;
    font-weight: bold;
}

.heading{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 18px;
    padding-top: 12px;
    font-weight: bold;
    align-items: center;
    padding: 23px 13px ;
    font-size: 13px;
}

.heading img{
    width: 26px;
}


.library{
    min-height: 69.5vh;
    position: relative;
}

.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 5px;
    padding: 10px 1px;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.right{
    margin: 16px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0f0013, rgba(70, 3, 118, 0.482));
    height: 60px;
    box-shadow: 0 4px 90px 0 rgba(81, 0, 169, 0.449); 
}

.header:hover{
    cursor: pointer;
    --a: 1;
}

.header > *{
    padding: 20px;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: #00ffdd; 
    border: none; /* Remove border */
    border-radius: 25px; 
    color: rgb(1, 19, 51); 
    padding: 10px 12px; 
    width: 80px; 
    cursor: pointer;
    font-size: 13px;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    
    /* text-shadow: 1px 1px 1px rgba(35, 68, 68, 0.325); */
}

.signupbtn a{
    text-decoration: none;
    color: rgb(1, 19, 51); 
}

.signupbtn:hover {
    background-color: #96fff6;
    font-weight: bold;
    font-size: 13.2px;
}

.loginbtn {
    background-color: #00ffdd;
    border: none;  /* removes the border */
    border-radius: 20px;
    color: rgb(1, 19, 52);
    padding: 10px 12px;
    width: 80px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* text-shadow: 1px 1px 1px rgba(35, 68, 68, 0.325); */
}

.loginbtn a{
    text-decoration: none;
    color: rgb(1, 19, 51); 
}

.loginbtn:hover {
    background-color: #96fff6;
    font-weight: bold;
    font-size: 13.2px;
}

.spotifyPlaylists {
    padding: 5px 16px;
}

.spotifyPlaylists h2 {
    padding: 10px 16px;
    
}

.cardContainer {
    margin: 2px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh; 
}

.card {
    width:120px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color: rgba(86, 84, 84, 0.579);
    cursor: pointer;
    --a: 0.3;
}

.card>* {
    padding-top: 5px;
}

.card h2{
    font-size: 14px;
    padding: 5px 3px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.403);
}

.card p{
    font-size: 11px;
    font-weight: 400;
    color: rgb(183, 183, 183);
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 48px;
    right: 17px;
    transition: all 0.5s ease-out;
    opacity: 0;
}

.card:hover .play{
    width: 30px;
    height: 30px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    right: 17px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
    opacity: 1;
}

.playbar {
    display: flex;
    position: fixed;
    bottom: 20px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 67.25%; /* Subtract padding from the width */
    background-color: #121818fe;
    padding: 10px;
    border-radius: 14px;
    border: none;
    min-height: 24px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
    overflow-x: hidden; /* Hide horizontal overflow */
    box-shadow: 2px 4px 8px rgba(77, 2, 215, 0.142); 
}

.playbar__controls {
    display: flex;
    position: fixed;
    right: 400px;
    gap: 18px;
    align-items: center;
    justify-content:center;
}

.playbar__button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: transform 0.2s ease;
}

.playbar__button:hover {
    transform: scale(1.1);
}

.playbar__buttox {
    background-color: rgb(206, 129, 129);
    width: 35px;
    height: 35px;
    border-radius: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: transform 0.2s ease;
}

.playbar__buttox:hover {
    transform: scale(1.1);
}
