* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(182, 229, 213);
}

/* heading section */
.containx {
    background-color: rgb(156, 198, 240);
    margin: auto;
    width: 65%;
}

header {
    display: inline-block;
    width: 100%;
    background-color: rgb(135, 245, 251);
}

.profile-pic {
    padding: 2px;
    margin: 10px 0px;
    width: 120px;
    height: 120px;
    border: 3px solid orangered;
    border-radius: 70%;
    float: left;
}

.bio {
    float: left;
    padding: 30px;
}

h1,
h5,
h3 {
    color: #075550;
}

.contact {
    float: right;
    text-align: right;
    padding: 10px;
    margin: 3px;
}

.contact a {
    text-decoration: none;
    color: #035b4b;
    font-weight: 600;
    display: inline-block;
    padding: 2px;
}

.contact a:hover {
    text-decoration: underline rgb(182, 68, 231);
    color: rgb(88, 0, 151);
}

hr {
    margin: 10px auto;
    border: 2px solid rgb(0, 0, 0);
    width: 99%;
}

/* main section midle */

.content {
    padding: 2px 18px;
}

.left-contain {
    width: 35%;
    text-align: left;
    float: left;
}

.right-contain {
    display: inline-block;
    width: 64%;
    margin: 10px auto;
    right: 2px;
    /* text-align: center; */
    padding: 0px 2px;
}

.comm-hr {
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
    width: 99%;

}

/* footer section */

.bottom-cont {
    background-color: lightcoral;
    text-decoration: none;
    margin: 0px;
    text-align: right;
    padding: 1px 15px;
}

.bottom-cont p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 1px;
    font-weight: 600;
}

.bottom-cont a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.bottom-cont p:hover {
    text-decoration: underline rgb(255, 0, 115);
}

.bottom-cont a:hover {
    text-decoration: underline rgb(255, 0, 115);
}%;
    background-color: rgb(135, 245, 251);
}

.profile-pic{
    padding: 2px;
    margin: 10px 0px;
    width: 120px;
    height: 120px;
    border: 3px solid orangered;
    border-radius: 70%;
    float: left;
}

.bio{
    float: left;
    padding: 30px;
}

h1, h5, h3{
    color: #075550;
}

.contact{
    float: right;
    text-align: right;
    padding: 10px;
    margin: 3px;
}

.contact a{
    text-decoration: none;
    color: #035b4b;
    font-weight: 600;
    display: inline-block;
    padding: 2px;
}

.contact a:hover{
    text-decoration: underline rgb(182, 68, 231);
    color: rgb(88, 0, 151);
}

.clear{
    clear:both;
}

hr{
    border: 3px soild black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
